<h2>Collaborating Users</h2>
<%= "#{current_user.name}" %>
<% current_user.collab_users.each do |person| %>
  <h4><%= "#{person.name}" %></h4>
  <% person.collaboration_wikis.each do |wiki| %>
    <h5><%= link_to "#{wiki.title}", wiki %><h5>
    <p><%= truncate(wiki.body, length: 60, separator: '.') %></p>
    <%= render partial: 'wikis/buttons', locals: { wiki: wiki } %>
  <% end %>
  <hr />
<% end %>
<%= link_to "New Collaboration", new_collaboration_path, class: "btn btn-success" %> 
