<ol class="breadcrumb navbar-fixed-top" >
  <li><%= link_to "Home", :root %></li>
  <li><%= link_to "Users", users_path %></li>
  <li class="active"><%= current_user.name || current_user.email %></a></li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-md-6 no-padding">
    <h1>My Profile</h1>
      <%= render partial: 'users/user_profile' %>
      <% if current_user.premium? %>
        <%= link_to "Downgrade Membership", user_downgrade_path(current_user), { data: { confirm: "Are you sure you want to become a standard user?" }, method: :post, class: "btn btn-default" } %>
      <% elsif current_user.standard? %>
        <h4>Would you like to upgrade to a premium membership?</h4>
        <form action="/charges" method="POST">
          <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" >
          </script>
        </form>
      <% end %>
    </div>
    <div class="col-md-6 no-padding">
    <%= render partial: 'users/edit' %>
    </div>
  </div>
</div>