<h2>Collaborations</21>
<% current_user.collaboration_wikis.each do |wiki| %>
  <h4><%= link_to wiki.title, wiki %></h4>
  <p><small>Created <%= time_ago_in_words(wiki.created_at) %> ago by
    <%= wiki.user.name  %></small></p>
  <p><%= truncate(wiki.body, length: 180, separator: '.') %></p>
  <%= render partial: 'wikis/buttons', locals: { wiki: wiki } %>
  <hr />
<% end %>