<% current_user.collaboration_wikis.each do |wiki| %>
  <h4><%= link_to wiki.title, wiki %></h4>
  <p><small>Created <%= time_ago_in_words(wiki.created_at) %> ago by
    <%= wiki.user.name  %>. Last updated <%= time_ago_in_words(wiki.updated_at) %> ago.</small></p> 
  <p><%= truncate(wiki.body, length: 180, separator: '.') %></p>
  <%= render partial: 'wikis/buttons', locals: { wiki: wiki } %><br />
  
  <!-- Button trigger modal -->
    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">
      Collaborators
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
            <% wiki.collab_users.each do |person| %>
            <%= "Collaborations with #{person.name}" %></h4>
          </div>
          <div class="modal-body">
          <%= "#{person.name}" %>
          <%= "#{person.email}" %>
           <%#= render partial: 'users/person_profile', locals: { user: person } %>
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <%# end %>


  <hr />
<% end %>
<% unless current_user.collaboration_wikis %> 
  <p>You are not collaborating on any wikis.</p>
<% end %>
<% if current_user.standard? %>
  <p>You may be invited to collaborate on a private wiki by a Premium User. In order to create private wikis and invite collaborators, you must have a Premium account.</p>
  <p>Would you like to upgrade your account?</p> 
  <form action="/charges" method="POST">
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" >
    </script>
  </form>
<% end %>