<% if current_user.favorited_wikis.present? %>
  <h2>My Favorite Wikis</h2>
    <% current_user.favorited_wikis.each do |wiki| %>
      <h4><%= link_to markdown wiki.title %></h4>
      <p><small>Created <%= time_ago_in_words(wiki.created_at) %> ago by
        <% if wiki.user.public %>
          <%= wiki.user.name  %></small></p>
        <% else %>
          Private User</small></p>
        <% end %>
      <p><%= truncate(wiki.body, length: 180, separator: '.') %></p>
      <%= render partial: 'wikis/buttons', locals: { wiki: wiki } %>
      <hr />
    <% end %>
<% else %>
  <h2>You have not favorited any wikis</h2>
<% end %>
