<h2>My Favorite Wikis</h2>
<% current_user.wikis.each do |wiki| %>
  <h4><%= markdown wiki.title %></h4>
    <small>
      <%# image_tag(@wiki.user.avatar.tiny.url) if @wiki.user.avatar? %>
      submitted <%= time_ago_in_words(wiki.created_at) %> ago by
      <%= wiki.user.name %>
    </small>
    <p><%= markdown wiki.body %></p>

    <%= form_for wiki do |f| %>
      <% if wiki.private? && current_user.not_standard? %>
          <p>Private Wiki</p>
          <div class="form-group">
              <%= f.label :private, class: 'checkbox' do %>
              <%= f.check_box :private %> Private
              <% end %>
              
      <% elsif wiki.public? && current_user.not_standard? %>
         
            <div class="form-group">
              <%= f.label :private, class: 'checkbox' do %>
              <%= f.check_box :private %> Make private?
              <% end %>
            </div>
        <% elsif wiki.public? && current_user.standard? %>
          <p>Public Wiki</p>
        <% end %>
    <div class="form-group">
    <%= f.submit "Update", class: 'btn btn-success btn-sm' %>
    <% end %>
    </div>

    <div class="form-group">

      <%= link_to "Edit", edit_wiki_path(wiki.id), class: 'btn btn-success btn-sm' %>
      <% if policy(wiki).destroy? %>
      <%= link_to "Delete", @wikis, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure you want to delete this topic?' } %>
      <% end %>
    </div>
<% end %>
<br />