<h2>Popular Wikis</h2>
<%= Wiki.popular.each do |wiki| %>
  <h4><%= link_to wiki.title %></h4>
    <small>
      submitted <%= time_ago_in_words(wiki.created_at) %> ago by
      <%= wiki.user.name %>
    </small>
  <p><%= truncate(wiki.body, length: 180, separator: '.') %></p>
    <%= render partial: 'wikis/buttons', locals: { wiki: @wiki, f: f } %>
<% end %>
