<h2>My Private Wikis</h2>
<% @private_wikis.each do |wiki| %>
  <h4><%= link_to "#{wiki.title}", wiki %></h4>
    <p><small>Created <%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.user.name %></small></p>
    <p><%= truncate(wiki.body, length: 180, separator: '.') %></p>
      <%= render partial: 'wikis/buttons', locals: { wiki: wiki } %> 
  <hr />
<% end %>
<% if current_user.standard? %>
  <p>You are unable to create private wikis. Please upgrade your account to enable this feature.</p>
  <form action="/charges" method="POST">
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" >
    </script>
  </form>
<% end %>
