<ol class="breadcrumb navbar-fixed-top" >
  <li><%= link_to "Home", :root %></li>
  <li><%= link_to "Wikis", wikis_path %></li>
  <li class="active"><%= "#{@wiki.title}" %></li>
</ol>
<div class="container">
  <div class="row">
    <h1><%= markdown @wiki.title %></h1>
    <small>
      <%# image_tag(@wiki.user.avatar.tiny.url) if @wiki.user.avatar? %>
      Created <%= time_ago_in_words(@wiki.created_at) %> ago by
      <%= @wiki.user.name %>
    </small>
    <p><%= markdown @wiki.body %></p>
      <%= render partial: 'wikis/buttons', locals: { wiki: @wiki } %>
    
    <% if current_user.not_standard? && @wiki.private? %>
      <%= render partial: 'collaborations/show', locals: { wiki: @wiki } %>
      <%= render partial: 'collaborations/form', locals: { wiki: @wiki } %>
      
    <% end %>
  </div>
</div>




